.example{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.bt{
    margin: 0;
}

.section{
    background: linear-gradient(to right, rgb(11, 106, 238), rgb(241, 240, 245));
    background-size: 300% 300%;
    height: auto;
    animation: change 3s infinite ease-in-out;
}
@keyframes change {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 50% 0%;
    }
}

li{
    list-style: none;
}
.logo{
    font-size: 150px;
    font-weight: bold;
    opacity: 10%;
    font-family: cursive;
}
