.example{
    display: flex;
    justify-content: space-between;
} 
.bt{
    margin: 0;
}
@media(max-width:720px){
    .example{
        display: flex;
        flex-direction: column;
    }
    .bt{
        margin: 5px;
        
    }
}